@tailwind base;
@layer base{
  body {
      @apply dark:bg-gray-800 bg-golden
  }
}

html {
  scroll-behavior: smooth !important;
}

tr:nth-child(even) {
  background-color: #c9c0ae;
}

tr:nth-child(odd) {
  background-color: #e2d8c4;
}

tbody > tr:hover {
  background-color: #b0a899;
}

.align-last-justify {
  text-align-last: justify;
}